*
{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}
body
{
    background-color: rgb(152, 225, 255);
}
.navbar
{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 70px;
}
.logo-img{
    height: 70px;
    filter: invert(100%);
    opacity: 0.7;
    border-radius: 10px;
}

.menu
{
    display: flex;
    align-items: center;
    
}

.menu li
{
    list-style: none;
}

.menu li a
{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.6em;
    text-decoration: none;
    padding: 0.7em 1.6em;
}

.menu li a:hover
{
    color: gray;
    background-color: black;
    border-radius: 10px;
}

.sections
{
    margin: auto;
    width: 60vw;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border: 10px solid skyblue;
    border-radius: 40px;
}

.intro-items{
    font-weight: bolder;
    font-size: 4em;
    font-family: 'Kanit', sans-serif;
}

.section-title
{
    margin-top: 0.5em;
    text-decoration: underline;
    font-family: 'Cairo', sans-serif;
    font-size: 4em;

}

#about-content
{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    padding: 1em 2em;
}


.skill{
    width: 20vw;
    padding: 2em 2em;
}

.skill-name
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
}
.skill-bar
{
    border-radius: 4px;
    background-color: rgb(185, 227, 244);
    height: 24px;
}

.skill-per
{
    border-radius: 4px;
    background-color: rgb(0, 110, 154);
    height: 24px;
}

.project
{
    width: 50vw;
    border: 4px solid skyblue;
    border-radius: 30px;
    margin: 0.8em 1em;
    padding: 0.8em;
}
.about-project
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    padding: 0.8em 1em 0.8em 1em;
}

.repo-link-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.repo-link-btn a
{
    padding: 0.4em;
    color: black;
    background-color: rgb(119, 201, 234);
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    border-radius: 20px;
}

.repo-link-btn a:hover{
    background-color: rgb(70, 188, 235);
}

#contact-section
{
    margin-top: 2em;
    background-color: black;
    display: flex;
    justify-content:space-evenly;
    border-radius: 10px;
}

.logo-button img
{
    padding: 0.5em 0.5em;
    width: 40px;
}

@media (max-width: 900px)
{
    .navbar
    {
        height: 40px;
    }
    .logo-img{
        height: 40px;
    }
    .menu li a
    {
        font-size: 1em;
        padding: 0.6em 1em;
    }
    .sections
    {
        margin-top: 4em;
        border: 10px solid skyblue;
        border-radius: 40px;
    }
    .intro-items{
        font-size: 2em;
    }
    .section-title
    {
        margin-top: 0.3em;
        font-size: 2em;

    }
    #about-content
    {
        font-size: 1em;
        padding: 0.5em 1em;
    }
    .skill{
        width: 20vw;
        padding: 1em 1em;
    }
    .skill-name
    {
        font-size: 1em;
    }

    .skill-bar
    {
        border-radius: 2px;
        height: 12px;
    }

    .skill-per
    {
        border-radius: 2px;
        height: 12px;
    }
    .project
    {
        margin: 0.4em 0.5em;
        padding: 0.4em;
    }
    .about-project
    {
        
        font-size: 1em;
        padding: 0.8em 1em 0.8em 1em;
    }
    .repo-link-btn a
    {
        padding: 0.4em;
        font-size: 0.6em;
        font-family: 'Kanit', sans-serif;
        border-radius: 10px;
    }
    .logo-button img
    {
        padding: 0.3em 0.3em;
        width: 20px;
    }
}

@media (max-width: 480px)
{
    .navbar
    {
        border-radius: 1px;
        height: 28px;
    }
    .logo-img{
        border-radius: 1px;
        height: 28px;
    }

    .menu li a
    {
        border-radius: 1px;
        font-size: 0.6em;
        padding: 0.7em 1em;
    }
    .menu li a:hover
    {
        border-radius: 1px;
    }
    .sections
    {
        margin-top: 2em;
        border: 5px solid skyblue;
        border-radius: 20px;
    }
    .intro-items{
        font-size: 1em;
    }
    .section-title
    {
        margin-top: 0.3em;
        font-size: 1em;

    }
    #about-content
    {
        font-size: 0.7em;
        padding: 0.5em 1em;
    }
    .skill{
        width: 20vw;
        padding: 0.8em 0.8em;
    }
    .skill-name
    {
        font-size: 0.5em;
    }

    .skill-bar
    {
        border-radius: 2px;
        height: 8px;
    }

    .skill-per
    {
        border-radius: 2px;
        height: 8px;
    }
    .project
    {
        margin: 0.4em 0.5em;
        padding: 0.4em;
    }
    .about-project
    {
        
        font-size: 0.5em;
        padding: 0.8em 1em 0.8em 1em;
    }
    .repo-link-btn a
    {
        padding: 0.4em;
        font-size: 0.3em;
        font-family: 'Kanit', sans-serif;
        border-radius: 10px;
    }
    .logo-button img
    {
        padding: 0.3em 0.3em;
        width: 20px;
    }
    #contact-section
    {
        margin-top: 1em;
        border-radius: 5px;
    }

}